{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Menu</h1>
<!--Begin col-->
<div class="column">
    {% for item in menu.menu %}
    {% if item.name == "Zesty Lemon Hummus" %}
    <h2>Starters</h2>
    {% endif %}
    {% if item.name == "Greek Village Salad" %}
    <h2>Salads</h2>
    {% endif %}
    {% if item.name == "Baklava" %}
    <h2>Desserts</h2>
    {% endif %}
    {% if item.name == "Lamb Kofta Wrap" %}
    <h2>Mains</h2>
    {% endif %}
    {% if item.name == "Garlic Parmesan Fries" %}
    <h2>Sides</h2>
    {% endif %}
    <p>
        <a href="{% url 'menu_item' pk=item.pk %}">
            {{ item.name }}
            </a>
        <span class="menu-price">
            ${{ item.price }}.00
        </span>
    </p>
    {% endfor %}
</div>
<!--End col-->
{% endblock %}